Repository gitextensions/gitextensions, pull requests merged in 2020-09, with the labels that each got.

#8435 Dark titlebar when using a dark theme on a recent Win10
  GitUI/GitExtensionsForm.cs
  GitUI/Interops/DwmApi/DwmApi.cs
  GitUI/Theming/ThemeModule.cs
Labels: area: theming

#8449 Don't expand branches node on refresh
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
Labels: area: left-panel

#8427 Fix 6310 Provide ability to sort/order branches and tags
  .gitignore
  GitCommands/Git/Commands/GitCommandHelpers.cs
  GitCommands/Git/GitModule.cs
  GitCommands/Git/GitVersion.cs
  GitCommands/IDiffListSortService.cs
  GitCommands/Settings/AppSettings.cs
  GitUI/BranchTreePanel/ContextMenu/GitRefsSortByContextMenuItem.cs
  GitUI/BranchTreePanel/ContextMenu/GitRefsSortOrderContextMenuItem.cs
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Branches.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Remotes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.Tags.cs
  GitUI/BranchTreePanel/RepoObjectsTree.Nodes.cs
  GitUI/BranchTreePanel/RepoObjectsTree.cs
  GitUI/CommandsDialogs/BrowseDialog/FormGoToCommit.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/FormCheckoutBranch.cs
  GitUI/CommandsDialogs/FormCommit.cs
  GitUI/CommandsDialogs/FormDeleteBranch.cs
  GitUI/CommandsDialogs/FormDeleteTag.cs
  GitUI/CommandsDialogs/FormPush.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/AppearanceSettingsPage.cs
  GitUI/Strings.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/FileStatusList.cs
  GitUI/UserControls/SortDiffListContextMenuItem.cs
  Plugins/GitUIPluginInterfaces/GitRefsOrder.cs
  UnitTests/GitCommands.Tests/Git/Commands/GitCommandHelpersTest.cs
  UnitTests/GitCommands.Tests/GitModuleTests.cs
  UnitTests/GitUI.Tests/BranchTreePanel/ContextMenu/GitRefsSortByContextMenuItemTests.cs
  UnitTests/GitUI.Tests/BranchTreePanel/ContextMenu/GitRefsSortOrderContextMenuItemTests.cs
  UnitTests/GitUI.Tests/UserControls/SortDiffListContextMenuItemTests.cs
Labels: area: left-panel, status: auto merge

#8454 Fix 8351 - "Araxis does not show up in Mergetool/Difftool dropdown box"
  GitCommands/DiffMergeTools/Araxis.cs
  UnitTests/GitCommands.Tests/DiffMergeTools/RegisteredDiffMergeToolsTests.cs
  contributors.txt
Labels: :pen: status: cla signed

#8307 Introduce a new console styles settings page under Appearance
  GitUI/CommandsDialogs/FormSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ConsoleStyleSettingsPage.resx
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/FormBrowseRepoSettingsPage.cs
  GitUI/Translation/English.xlf
  contributors.txt
Labels: :mailbox_with_no_mail: needs: author feedback, :pen: status: cla signed, type: discussion

#8482 Show empty diffs as patch, not text
  GitUI/GitUIExtensions.cs
Labels: status: auto merge

#8424 .css inheritance in themes
  GitCommands/Settings/AppSettings.cs
  GitExtUtils/GitUI/Theming/AppColor.cs
  GitExtUtils/GitUI/Theming/Theme.cs
  GitExtUtils/GitUI/Theming/ThemeModifiers.cs
  GitExtUtils/Properties/AssemblyInfo.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
  GitUI/GitUI.csproj
  GitUI/Themes/README.md
  GitUI/Themes/bright-colobrlind.css
  GitUI/Themes/bright.css
  GitUI/Themes/dark-colorblind.css
  GitUI/Themes/dark.css
  GitUI/Themes/darksilver-colorblind.css
  GitUI/Themes/darksilver.css
  GitUI/Themes/invariant.css
  GitUI/Themes/win10default.css
  GitUI/Theming/ThemeCssUrlResolver.cs
  GitUI/Theming/ThemeCssUrlResolverException.cs
  GitUI/Theming/ThemeException.cs
  GitUI/Theming/ThemeFileReader.cs
  GitUI/Theming/ThemeLoader.cs
  GitUI/Theming/ThemeModule.cs
  GitUI/Theming/ThemePathProvider.cs
  GitUI/Theming/ThemePersistence.cs
  GitUI/Theming/ThemeRepository.cs
  GitUI/Translation/English.xlf
  GitUI/UserControls/RevisionGrid/Columns/BuildStatusColumnProvider.cs
  Setup/Product.wxs
  UnitTests/GitUI.Tests/Theming/AppColorDefaultsTests.cs
  UnitTests/GitUI.Tests/Theming/CssUrlResolverTests.cs
  UnitTests/GitUI.Tests/Theming/ThemeFileReaderTests.cs
  UnitTests/GitUI.Tests/Theming/ThemeLoaderTests.cs
  UnitTests/GitUI.Tests/Theming/ThemePathProviderInstalledAppTests.cs
  UnitTests/GitUI.Tests/Theming/ThemePathProviderPortableAppTests.cs
  UnitTests/GitUI.Tests/Theming/ThemePersistenceTests.cs
  UnitTests/GitUI.Tests/Theming/WhatSystemColorsAreThemeableTests.cs
Labels: area: theming

#8426 Colorblind syntax colors
  GitExtUtils/GitUI/Theming/ColorHelper.cs
  GitExtUtils/GitUI/Theming/ThemeSettings.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ColorsSettingsPage.cs
  GitUI/Theming/ThemeModule.cs
Labels: area: theming

#8444 Jenkins: Present most recent interesting build info
  GitUI/BuildServerIntegration/BuildServerWatcher.cs
  Plugins/BuildServerIntegration/JenkinsIntegration/JenkinsAdapter.cs
Labels: status: auto merge
