Repository gitextensions/gitextensions, pull requests merged in 2022-11, with the labels that each got.

#10309 Misc fixes
  GitUI/BranchTreePanel/RepoObjectsTree.ContextActions.cs
  GitUI/UserControls/RevisionGrid/IndexWatcher.cs
Labels: :pen: status: cla signed

#10335 Fixed an issue that caused an exception when switching languages.(#10332)
  GitUI/UserControls/RevisionGrid/RevisionGridMenuCommands.cs
  contributors.txt
Labels: :pen: status: cla signed

#10400 Improve recent repository list keyboard navigation
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.Designer.cs
  GitUI/CommandsDialogs/BrowseDialog/DashboardControl/UserRepositoriesList.cs
Labels: area: dashboard

#10290 FormCreateWorktree: Build potential worktree path using repository path
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.Designer.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormCreateWorktree.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.cs
Labels: area: worktree
