Repository gitextensions/gitextensions, pull requests merged in 2022-10, with the labels that each got.

#10216 Disable reloading of Explorer when uninstalling.
  Setup/Product.wxs
  contributors.txt
Labels: area: installer, hacktoberfest, :pen: status: cla signed

#10193 Protect AppSettings saving using global mutex
  GitCommands/Settings/AppSettings.cs
Labels: area: settings

#10217 ShellExtension: rename item in the setting form with same name it have in shell extension menu
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.Designer.cs
  GitUI/CommandsDialogs/SettingsDialog/Pages/ShellExtensionSettingsPage.cs
  GitUI/Translation/English.xlf
Labels: area: shell extension

#10224 Worktree: redesign 'Manage worktree' form
  GitUI/CommandsDialogs/FormBrowse.Designer.cs
  GitUI/CommandsDialogs/FormBrowse.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.Designer.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.cs
  GitUI/CommandsDialogs/WorktreeDialog/FormManageWorktree.resx
  GitUI/Translation/English.xlf
Labels: area: worktree

#10239 Revision filter combobox
  GitCommands/Settings/AppSettings.cs
  GitUI/UserControls/FilterToolBar.Designer.cs
  GitUI/UserControls/FilterToolBar.cs
Labels: area: filters

#10240 Custom options to git-log
  GitUI/UserControls/FilterToolBar.cs
  GitUI/UserControls/RevisionGrid/FilterInfo.cs
  GitUI/UserControls/RevisionGrid/FormRevisionFilter.cs
  UnitTests/GitUI.Tests/UserControls/FilterInfoTests.cs
Labels: area: filters
