Repository gitextensions/gitextensions, pull requests merged in 2025-03, with the labels that each got.

#12244 build: Embed AutoCompleteRegexes as raw string literal
  src/app/GitExtensions/GitExtensions.csproj
  src/app/GitUI/AutoCompletion/AutoCompleteRegexes.cs
  src/app/GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
  tests/app/IntegrationTests/UI.IntegrationTests/UI.IntegrationTests.csproj
Labels: area: tests

#12247 fix(AutoCompletion): No need for StreamReader
  src/app/GitUI/AutoCompletion/CommitAutoCompleteProvider.cs
Labels: type: regression

#12111 .net9 dark theme
  .editorconfig
  setup/installer/Product.wxs
  src/app/BugReporter/BugReportForm.cs
  src/app/GitExtUtils/GitUI/Theming/AppColorDefaults.cs
  src/app/GitExtUtils/GitUI/Theming/Theme.cs
  src/app/GitExtUtils/GitUI/Theming/ThemeFix.cs
  src/app/GitUI/CommandsDialogs/BrowseDialog/DashboardControl/Dashboard.cs
  src/app/GitUI/CommandsDialogs/FormCommit.cs
  src/app/GitUI/CommandsDialogs/FormRebase.cs
  src/app/GitUI/CommandsDialogs/SettingsDialog/Pages/ScriptsSettingsPage.cs
  src/app/GitUI/Editor/Diff/AnsiEscapeUtilities.cs
  src/app/GitUI/Editor/FileViewer.cs
  src/app/GitUI/Editor/GitHighlightingStrategyBase.cs
  src/app/GitUI/Editor/RebaseTodoHighlightingStrategy.cs
  src/app/GitUI/GitUI.csproj
  src/app/GitUI/LeftPanel/BaseRevisionNode.cs
  src/app/GitUI/ScriptsEngine/SplitButton.cs
  src/app/GitUI/SpellChecker/EditNetSpell.cs
  src/app/GitUI/Themes/README.md
  src/app/GitUI/Themes/dark+.css
  src/app/GitUI/Themes/dark.css
  src/app/GitUI/Themes/highcontrast_dark.css
  src/app/GitUI/Theming/ThemeModule.cs
  src/app/GitUI/UserControls/BlameControl.cs
  src/app/GitUI/UserControls/EditboxBasedConsoleOutputControl.cs
  src/app/GitUI/UserControls/FileStatusList.cs
  src/app/GitUI/UserControls/NativeListView.cs
  src/app/GitUI/UserControls/NativeTreeView.cs
  src/app/GitUI/UserControls/RevisionGrid/RevisionDataGridView.cs
  src/app/ResourceManager/GitExtensionsFormBase.cs
Labels: area: theming
